<div class="sub-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col contribute">
                <a href="mailto:contribute@status.im" class="link-arrow">Contribute</a>
            </div>
            {{navigation}}
            <div class="col text-right">
                <form action="/" id="search-form">
                    <input id="search-input" placeholder="Search blog…">
                    <div id="search-results"></div>
                </form>
            </div>
        </div>
    </div>
</div>