// Colors

$black: #000000;
$light-black: #090909;
$darker-grey: #222325;
$dark-grey: #3C4049;
$white: #ffffff;
$light-grey: #63666D;
$purple: #4360DF;
$dark-purple: #2D48BE;
$white-rgba: rgba(255, 255, 255, 0.6);
$lighter-grey: #EAECEF;

$manrope: 'Manrope', sans-serif;
$manrope-regular: 400;
$manrope-medium: 500;
$manrope-semi-bold: 600;
$manrope-bold: 700;

$ibm-plex-mono: 'IBM Plex Mono', monospace;
$ibm-plex-mono-regular: 400;
$ibm-plex-mono-medium: 500;
$ibm-plex-mono-semi-bold: 600;

$ibm-plex-sans: 'IBM Plex Sans', sans-serif;
$ibm-plex-sans-regular: 400;
$ibm-plex-sans-medium: 500;
$ibm-plex-sans-semi-bold: 600;
$ibm-plex-sans-bold: 700;

body{
    transition: background .3s ease;
}

h1, h2, h3, h4, h5, h6{
    transition: background .3s ease;
}

time{
    font-family: $ibm-plex-mono;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: -0.186667px;
    color: rgba($light-grey, .8);
    transition: all .3s ease;
}

figcaption{
    width: 100%;
    padding: 15px 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: $ibm-plex-sans-bold;
    text-align: center;
    border-bottom: 1px solid $lighter-grey;
}

iframe[src*="https://www.youtube.com/"] {
    height: calc(883px / 1.77777778) !important;
    width: 100% !important;
}

blockquote{
    line-height: 36px;
    font-size: 24px;
    color: rgba($dark-grey, 0.8);
    font-family: $manrope;
    font-weight: $manrope-medium;
    position: relative;
    margin-bottom: 30px;
    &:before {
        content: '';
        width: 26px;
        height: 25px;
        background-image: url(../img/quotes.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -5px;
        left: -15px;
    }
    p{
        line-height: 36px;
        font-size: 24px;
        color: rgba($dark-grey, 0.8);
        font-family: $manrope;
        font-weight: $manrope-medium;
    }
}

.tags{
    position: relative;
    z-index: 5;
    color: rgba($light-grey, .8);
    transition: all .3s ease;
    a{
        margin-right: 20px;
        font-family: $ibm-plex-mono;
        font-weight: $ibm-plex-mono-semi-bold;
        line-height: 19px;
        font-size: 15px;
        letter-spacing: -0.2px;
        color: $purple;
        text-transform: capitalize;
        &:hover{
            color: $dark-purple;
        }
    }
}

#main{
    position: relative;
}

.sub-header{
    border-top: 1px solid $lighter-grey;
    border-bottom: 1px solid $lighter-grey;
    padding: 0 25px;
    font-family: $manrope;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease;
    .contribute{
        display: flex;
        align-items: center;
    }
    nav{
        white-space: nowrap;
        ul{
            list-style-type: none;
            margin: 0 0 0 -20px;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            li{
                margin: 0 10px;
                display: flex;
                &.nav-current{
                    a{
                        color: $purple;
                    }
                }
                a{
                    font-size: 14px;
                    color: $black;
                    padding: 16px 10px;
                    font-weight: $manrope-semi-bold;
                    &:hover{
                        color: $purple;
                    }
                }
            }
        }
    }
}

#search-form{
    margin-left: auto;
    position: relative;
    height: 60px;
    z-index: 9;
    #search-input{
        border: none;
        background: transparent;
        color: $black;
        font-size: 14px;
        line-height: 19px;
        padding: 20px 0 20px 40px;
        outline: none;
        background-image: url('../img/search-grey.svg');
        background-position: center left;
        background-repeat: no-repeat;
        width: 130px;
        height: 100%;
        transition: background .3s ease;
        &::-webkit-input-placeholder {
            color: rgba($black, .6);
        }
        &:-ms-input-placeholder {
            color: rgba($black, .6);
        }
        &::placeholder {
            color: rgba($black, .6);
        }
    }
    &.inactive{
        #search-results{
            display: none;
        }
    }
    #search-results{
        position: absolute;
        top: calc(100% + 1px);
        right: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        width: 320px;
        border-radius: 4px;
        max-height: 70vh;
        overflow: auto;
        text-align: left;
        a{
            color: $black;
            display: block;
            line-height: 18px;
            font-size: 14px;
            padding: 10px;
            border-top: 1px solid #EBEBEB;
            font-weight: $manrope-medium;
            &:hover{
                color: $purple;
            }
            &:first-child{
                border: none;
            }
        }
    }
}

.post-intro{
    margin: 90px 0 35px;
    .inner{
        .post-meta{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            time{
                &:before{
                    content: ' - ';
                }
            }
            .tags{
                a{
                    margin: 0 8px 0 0;
                }
            }
        }
        h1{
            margin-bottom: 20px;
        }
        .inner-featured-image{
            margin-top: 30px;
            max-width: 100%;
        }
        .authors{
            margin-right: 3px;
            li{
                margin: 0;
                &:nth-child(n+2){
                    img{
                        margin-left: -10px;
                    }
                }
                &:last-child{
                    a{
                        span{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
                a{
                    font-family: $ibm-plex-mono;
                    font-weight: $ibm-plex-mono-semi-bold;
                    line-height: 19px;
                    font-size: 15px;
                    letter-spacing: -0.2px;
                    color: $purple;
                    text-transform: capitalize;
                    display: flex;
                    span{
                        &:after{
                            content: ', ';
                        }
                    }
                    &:hover{
                        color: $dark-purple;
                    }
                }
            }
        }
    }
}

.post-content{
    margin-bottom: 70px;
    margin-top: 60px;
    .editor-content{
        position: relative;
        h1,h2,h3,h4{
            margin-top: 50px;
        }
        p{
            line-height: 24px;
            font-size: 16px;
            color: #090909;
            // margin-bottom: 30px;
        }
        ul, ol{
            margin-bottom: 30px;
            padding-left: 20px;
            li{
                line-height: 24px;
                font-size: 16px;
                color: $light-black;
                margin-bottom: 10px;
            }
        }

        .share{
            ul{
                margin-bottom: 0;
                padding: 0;
            }
        }
        a{
            color: $purple;
            font-weight: $ibm-plex-sans-medium;
            text-decoration: underline;
            &:hover{
                color: $dark-purple;
            }
        }
        strong, b{
            font-weight: $ibm-plex-sans-bold;
        }
        img{
            display: block;
            margin: 30px auto;
            max-width: 100%;
            height: auto;
        }
        .kg-card{
            margin: 30px 0 50px;
        }

        .kg-embed-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .kg-image {
            margin: 0;
            max-width: 100%;
        }

        .kg-width-wide {
            position: relative;
            width: 75vw;
            min-width: 100%;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            transform: translateX(calc(50vw - 50%));
        }

        .kg-width-full {
            position: relative;
            width: 94vw;
            min-width: 100%;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            transform: translateX(calc(50vw - 50%));
        }

        .kg-width-full figcaption {
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }

        .kg-gallery-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 75vw;
            min-width: 100%;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            transform: translateX(calc(50vw - 50%));
        }

        .kg-gallery-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .kg-gallery-image img {
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .kg-gallery-row:not(:first-of-type) {
            margin: 0.75em 0 0 0;
        }

        .kg-gallery-image:not(:first-of-type) {
            margin: 0 0 0 0.75em;
        }

        .kg-gallery-card + .kg-image-card.kg-width-wide,
        .kg-gallery-card + .kg-gallery-card,
        .kg-image-card.kg-width-wide + .kg-gallery-card,
        .kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
            margin-top: calc( -7vw + 0.75em );
        }
    }
}

.share{
    position: absolute;
    top: 0;
    margin-left: -100px;
    span{
        font-family: $ibm-plex-mono;
        line-height: 18px;
        font-size: 14px;
        letter-spacing: -0.186667px;
        color: rgba(#63666D, 0.8);
        display: block;
        margin-bottom: 10px;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 40px;
            height: 40px;
            border: 1px solid #8d8d8d;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                border: 1px solid $black;
                svg{
                    path{
                        fill: $black;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.loop{
    display: flex;
    flex-wrap: wrap;
    &.loop-first{
        .post{
            width: 100%;
            .post-inner-content{
                display: flex;
                flex-direction: row;
                h2{
                    font-size: 28px;
                    line-height: 38px;
                }
                .post-card-image-link{
                    width: calc(66.66% - 10px);
                }
                .inner{
                    width: calc(33.33% + 10px);
                    display: flex;
                    flex-direction: column;
                }
                img{
                    max-height: 1000px;
                }
                .authors{
                    img{
                        height: 36px;
                        width: 36px;
                    }
                }
            }
        }
    }
    .post{
        background: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        margin: 0 15px 30px;
        border-radius: 4px;
        overflow: hidden;
        width: calc(33.33% - 30px);
        position: relative;
        transition: all .3s ease;
        .post-inner-content{
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &:hover{
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 250px;
        }
        .authors{
            img{
                width: 36px;
                height: 36px;
            }
        }
        .inner{
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: 100%;
            p{
                margin-bottom: 50px;
            }
            h2{
                font-family: $manrope;
                font-weight: $manrope-semi-bold;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 10px;
                a{
                    color: $black;
                    &:before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .post-meta{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: auto;
            }
        }
    }
}

.blog-intro{
    padding: 90px 0;
    h1{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 0;
    }
    .authors{
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img{
            width: 100px;
            height: 100px;
        }
    }
}

.authors {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
        margin-right: -7px;
        a{
            position: relative;
            z-index: 5;
            display: block;
            img{
                width: 36px;
                height: 36px;
                object-fit: cover;
                padding: 2px;
                background: $white;
                border-radius: 50%;
                transition: all .3s ease;
            }
        }
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 100px;
    .pagination-links{
        width: 100%;
        .row{
            margin: 0;
        }
    }
    #load-posts{
        display: none;
        &.active{
            display: flex;
        }
    }
    .end{
        opacity: .3;
        pointer-events: none;
    }
}

.related-posts{
    background: $lighter-grey;
    padding: 100px 0 70px;
    h3{
        margin-left: 15px;
    }
}

.home-template:not(.end-posts){
    .loop-grid{
        .post{
            &:nth-last-child(-n+2){
                display: none;
            }
        }
    }
}

.dm{
    display: none;
}

.dark-mode-toggle{
    position: absolute;
    top: 0px;
    right: 40px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -60px;
    color: #23252F;
    a{
        width: 100%;
        height: 24px;
        display: block;
        border-radius: 50px;
        position: relative;
        background: #a7a9ad;
        &:before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 2px;
            top: 2px;
            background: $black;
            border-radius: 50%;
            transition: all .3s ease;
        }
    }
}

.dark-mode{
    background: #141414;
    .dark-mode-toggle{
        color: $white;
        a{
            background: $lighter-grey;
            &:before{
                left: 100%;
                transform: translateX(calc(-100% - 2px));
            }
        }
    }
    .p-large{
        color: rgba($white,.8);
    }
    h1, h2, h3, h4, h5, h6{
        color: $white;
    }
    .link-arrow{
        &:after{
            background-image: url(../img/icon-arrow-right-purple-dm.svg);
        }
    }
    .btn-arrow{
        &:after{
            background-image: url(../img/icon-arrow-right-dm.svg);
        }
        &:hover{
            &:after{
                background-image: url(../img/icon-arrow-right-dm.svg);
            }
        }
    }
    #search-form{
        #search-input{
            color: $white;
            background-image: url('../img/search-dm.svg');
            &::-webkit-input-placeholder {
                color: rgba($white, .6);
            }
            &:-ms-input-placeholder {
                color: rgba($white, .6);
            }
            &::placeholder {
                color: rgba($white, .6);
            }
        }
        #search-results{
            background: #252528;
            a{
                border-color: #141414;
                color: $white;
                &:hover{
                    color: $purple;
                }
            }
        }
    }
    header{
        .dm{
            display: block;
            & + .logo{
                display: none;
            }
        }
        nav{
            ul{
                li{
                    &.active{
                        a{
                            color: $purple;
                        }
                    }
                    &.has-submenu{
                        .submenu{
                            background: #141414;
                            &:before{
                                box-shadow: 0 2px 14px rgba($black,.3);
                            }
                            &:after{
                                background: #141414;
                                border-color: #252528;
                            }
                            ul{
                                li{
                                    a{
                                        color: rgba($white,.8);
                                        &:after{
                                            background-image: url(../img/icon-arrow-right-dm.svg);
                                        }
                                    }
                                }
                            }
                            .social-links{
                                li{
                                    a{
                                        svg{
                                            path{
                                                fill: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a{
                        color: $white;
                        .arrow{
                            background-image: url(../img/icon-arrow-down-dm.svg);
                        }
                    }
                }
            }
        }
        .mobile-nav-trigger{
            svg{
                rect{
                    fill: $white;
                }
            }
        }
        .mobile-nav{
            background: darken(#141414, 4%);
            .mobile-nav-header{
                .mobile-nav-trigger-close{
                    svg{
                        rect{
                            fill: $white;
                        }
                    }
                }
            }
            nav{
                ul{
                    li{
                        a{
                            border-color: #252528;
                        }
                    }
                }
            }
        }
    }
    .sub-header{
        border-color: #252528;
        nav{
            ul{
                li{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .authors{
        li{
            a{
                img{
                    background: #141414;
                }
            }
        }
    }
    time{
        color: rgba($white, 0.8);
    }
    .tags{
        color: rgba($white, 0.8);
    }
    .share{
        span{
            color: rgba($white, 0.8);
        }
    }
    .post-content{
        .editor-content{
            p{
                color: #838C91;
            }
            ul, ol{
                li{
                    color: #838C91;
                }
            }
        }
    }
    .share{
        ul{
            a{
                &:hover{
                    border: 1px solid $white;
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                }
                svg{
                    path{
                        fill: #838C91;
                        opacity: 1;
                    }
                }
            }
        }
    }
    blockquote{
        color: rgba($white, 0.8);
        &:before{
            background-image: url(../img/quotes-dm.svg);
        }
    }
    .related-posts{
        background: #23252F;
    }
    .loop{
        .post{
            background: #141414;
            .inner{
                h2{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1499px) {
    .sub-header{
        nav{
            ul{
                li {
                    margin: 0 5px;
                    display: flex;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .sub-header{
        padding: 0 25px 0 20px;
        overflow: auto;
        nav{
            width: 100%;
            ul{
                margin: 0;
                li{
                    margin-right: 0;
                    &:last-child{
                        margin-right: 15px;
                    }
                    a{
                        padding: 10px;
                    }
                }
            }
        }
        #search-form{
            display: none;
            height: 46px;
        }
        .contribute{
            display: none;
        }
    }
    .blog-intro {
        padding: 60px 0;
    }
    .post-intro{
        margin-top: 60px;
    }
    iframe[src*="https://www.youtube.com/"] {
        height: calc(690px / 1.77777778) !important;
    }
    .dark-mode-toggle{
        flex-direction: row;
        display: flex;
        right: 15px;
        align-items: center;
        margin-top: -45px;
        font-size: 10px;
        line-height: 1;
        a{
            width: 40px;
            height: 16px;
            margin-left: 10px;
            &:before{
                width: 12px;
                height: 12px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .loop{
        &.loop-first{
            .post{
                .post-inner-content{
                    flex-direction: column;
                    .post-card-image-link{
                        width: 100%;
                    }
                    .inner{
                        width: 100%;
                    }
                }
            }
        }
        .post{
            width: calc(50% - 30px);
        }
    }
    .post-content{
        margin-bottom: 30px;
    }
    .related-posts{
        padding: 50px 0 30px;
        .post{
            &:last-child{
                display: none;
            }
        }
    }
    .share{
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        width: 100%;
        bottom: 0;
        margin: 0;
        border-top: 1px solid $lighter-grey;
        padding-top: 35px;
        ul{
            align-items: flex-start;
            flex-direction: row;
            margin-left: 10px;
            li{
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .post-content .editor-content h1,
    .post-content .editor-content h2,
    .post-content .editor-content h3,
    .post-content .editor-content h4 {
        margin-top: 50px;
    }
    .post-content{
        margin-top: 30px;
    }
    .post-title{
        line-height: 40px;
        font-size: 32px;
    }
    .loop{
        .post{
            width: 100%;
            margin: 0 0 20px 0;
        }
    }
    iframe[src*="https://www.youtube.com/"] {
        height: calc(500px / 1.77777778) !important;
    }
    .related-posts{
        h3{
            margin-left: 0;
        }
    }
    .sub-header{
        nav{
            ul{
                justify-content: flex-start;
                margin: 0 -15px;
                li{
                    &:last-child{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .pagination{
        .pagination-links{
            .row{
                margin: 0 -15px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    iframe[src*="https://www.youtube.com/"] {
        height: calc((100vw - 40px) / 1.77777778) !important;
    }
}
